body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
 width: 100%;
  min-height: 100vh;
}

.brand-wrapper {
  margin-bottom: 19px;
}
.brand-wrapper .logo {
  height: 37px;
}
.svg-inline--fa.fa-w-18 {
  width: 2.125em !important;
}
.svg-inline--fa {
  height: 1.2em !important;
}
.login-card {
  border-radius: 10px;
  
  overflow: hidden;
}
.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.login-card .card-body {
  padding: 85px 60px 60px;
  height: 580px;
 
}
@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}
.login-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-top: -50px;
  position: absolute;
  margin-left: 150px;
}
.login-card form {
  max-width: 326px;
  margin-left: 150px;
}
.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}
.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}
.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::placeholder {
  color: #919aa3;
}
.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}
.login-card .signin-btn:hover {
  border: 1px solid #000;
  background-color: white;
  color: #000;
}
.login-card .signup-btn:hover {
  border: 1px solid #000;
  background-color: white;
  color: #000;
}
.login-card .login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}
.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}
.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .login-card-footer-text {
    margin-bottom: 24px;
    
  }
}
.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}
.home-icon{float:right;
 
  
}
.nav{
  justify-content: space-between;
  background-color:lightgray;
  border-radius: 5px 0px 0px 0px;
  color: black;
  display: flex;
  padding: 15px;
}
#h3{
  font-family: 'Rubik Beastly', cursive;
  color: black;
  margin-left: 10px;
}
/* #home{
  color: black;
  margin-right:80px;
  padding: 0px;
  font-size: 30px;
} */
#signup{
  border-radius: 5px; 
  margin-left: 820px;
  margin-top: 7px;
  font-weight: bold;
  text-decoration: none;
}

.container{
  max-width: 100%;
  max-height: 100%;
}
