<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a href="/home"><h1 style="cursor: pointer;">Viewtube</h1></a>
  <form class="form-inline">
    <input #channelName class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button  class="btn btn-outline-dark my-2 my-sm-0" type="submit" >Search</button>
    <!-- <button  class="btn btn-outline-dark my-2 my-sm-0 mx-2" type="button" >Logout</button> -->
  </form>
</nav>
<div class="wrapper">
  <!-- <app-side-bar></app-side-bar> -->
  <div class="sidebar">
   <!-- <h2>menu</h2> -->
   <ul>
     <li>
       <a href="/home"><i class="fas fa-home"></i>Home</a>
     </li>
      <!-- <li>
       <a style="cursor: pointer" name="User Profile" (click)="userprofile()">
         UserDetails
         
       </a>
     </li>  -->
     <li>
       <a (click)="getFavourites()" style="cursor: pointer" name="Favourites" >
         My Favourites
         <!-- <fa-icon [icon]="faUser" style="position: relative"></fa-icon> -->
       </a>
     </li>  
   </ul>
  </div>

    <div class="main_content">
        <div class="v-player">
<youtube-player 
  videoId="{{videoId}}" 
  suggestedQuality="highres" 
  [height]="350" 
  [width]="550" >
</youtube-player>
        </div>
    </div>
  </div>
</body>
</html>