<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <h1 (click)="getHome()" style="cursor: pointer;">Viewtube</h1>
    <form class="form-inline">
    </form>
  </nav>
<div class="wrapper">
  <!-- <app-side-bar></app-side-bar> -->
  <div class="sidebar">
   <!-- <h2>menu</h2> -->
   <ul>
     <li>
       <a href="/home"><i class="fas fa-home"></i>Home</a>
     </li>
     <li><a
      (click)="logout()"
      class=" my-2 my-sm-0 mx-2"
     
    >
      Logout
    </a></li>
   </ul>
  </div>
  <div class="main_content">
    <ul *ngFor="let favoriteVideo of userFavourites"> 
      <!-- <app-video-section [thumbnail]="favoriteVideo.thumbnail" [videoTitle]="favoriteVideo.videoTitle" [channelTitle]="favoriteVideo.channelTitle" [videoId]="favoriteVideo.videoId"></app-video-section> -->
      <youtube-player 
      videoId={{favoriteVideo.videoId}} 
      suggestedQuality="highres" 
      [height]="500" 
      [width]="750" >
    </youtube-player>
      </ul>
  </div>
</div>
</body>
</html>










  

<!-- <div class="row"> -->
 
<!-- </div> -->