<div class="col-lg-3 mb-4">
  <div class="card h-100">
    <a (click)="handleCick()"><img class="card-img-top" src="{{ thumbnail }}" alt="" /></a>
    <div class="card-body">
      <h6 class="">
        <a (click)="handleCick()" style="cursor: pointer;">{{ videoTitle.substring(0,30) }}...</a>
        <div style="display: flex; justify-content: space-between;">
          <p>{{channelTitle}}</p>
          <app-fav-button></app-fav-button>
        </div>
        
        <!-- <fa-icon [icon]="faHeart" ></fa-icon> -->
      </h6>
      <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p> -->
    </div>
  </div>
</div>

<!-- <img class="img-thumbnail" src="{{thumbnail}}"/>
      {{videoTitle}} &nbsp;&nbsp; -->
